/*========================Variables========================*/

$nav-padding: $base-line-height;
$nav-height: 50px;

/*================================================*/

html {
	font-smoothing: antialiased !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: antialiased !important;
	overflow-scrolling: touch;
	-webkit-overflow-scrolling: touch;
	-moz-osx-overflow-scrolling: touch;
	font-size: 12pt;
	font-family: Roboto Slab;
}

h1 { @include type-setting(2); };

h2 { @include type-setting(1); };

p{ @include type-setting(0); };

li { @include type-setting(0); }

@media screen and (min-width: 768px){
}

@media screen and (min-width: 1024px){
}
