/* ===================line-height/type-scale functions===================== */

$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;

$line-height: (
  -1: $base-line-height,
  0: $base-line-height * 1.25,
  1: $base-line-height * 2,
  2: $base-line-height * 2
);

$type-scale: (
  -1: 0.75rem,  // small text
  0: 1rem,      // body text
  1: 1.333rem,  // large text
  2: 1.778rem  // main heading
);


@function line-height($level) {
  @return map-get($line-height, $level);
}

@function type-scale($level) {
  @return map-get($type-scale, $level);
}

@mixin type-setting($level: 0) {
  font-size: type-scale($level);
  line-height: line-height($level);
}

/* ============================================================= */
